*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url(../images/mint_bg_ray.png) no-repeat center center fixed;
    background-size: cover;
    background-position-y: top;
    text-align: center;
    overflow-x: hidden;
}
.mint_bg{  
    padding-top: 195px;
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 30px;
    width: 100%;
}
.mint_bg img{
    border-radius: 24px;
    width: 357px;
}  
.mint_bg img.center{
    width: 432px;
    box-shadow: #00000059 0px 21px 26.35px 4px;
}
header{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0; 
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
header nav .social{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 20px;
}
header nav .social li a{
    text-decoration: none;
    background: #FAFBD3;
    border-radius: 11px; 
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 50px;
    box-shadow: #00000040 0px 4px 4px 4px; 
}
@font-face {
    font-family: "Action Comics";   
    src: url(../fonts/action_comics.ttf) format("truetype");
}

.title{
    text-align: center;
    padding-top: 190px;
    font-family: "Action Comics", Arial, Helvetica, sans-serif;
    font-size: 48px; 
    color: red;
    position: absolute;
    width: 100%;
    
}
.buy_now_btn{
    width: 140px;
    height: 50px;
    background: #00FBA6;
    border-radius: 11px;
    border: 3px solid #000000;
    box-shadow: #FAFBD3 0px 4px 8.8px 2px; 
    font-size: 22px;
    cursor: pointer;
    font-family: "ADLaM Display", serif;
}
main{
    display: flex;
    justify-content: space-between;
    align-items: end;
    position: relative;
    bottom: -15px;
    width: 100%;
}
.join_fiesta .t1{
    font-family: "ADLaM Display", serif;
    font-size: 22px;
    text-align: center;
    color: black;
    font-weight: normal;
    width: 100%;
    max-width: 728px;
}
.join_fiesta .t2{
    margin: 20px 0;
}
.join_fiesta .menu{
    display: flex;
    list-style: none;
    min-width: 630px;
    width: 100%; 
    justify-content: space-around;
    border-radius: 11px;
    overflow: hidden;
}
.join_fiesta .menu li{ 
    font-family: 'ADLaM Display', serif;
    font-size: 25px;
    color: black;
    text-align: center;
    width: 100%;
}
.join_fiesta .menu li a{
    text-decoration: none;
    display: inline-block;
    background: red;
    color: #000000;
    width: 100%;
    padding: 10px;
}
.join_fiesta .menu li a:hover{
    color: #00FBA6;
}
@keyframes fade{
    0%{
        scale: 1;
    }
    50%{
        scale: 1.1;
    }
    100%{
        scale: 1;
    }
}
main img{
    width: 59%;
    animation-name: fade;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
main div:last-child{
    text-align: right;
}
